default_language_version:
  # force all unspecified python hooks to run python3.8
  python: python3.8
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-private-key
        description: "Check accidental private keys in code"
      - id: requirements-txt-fixer
        description: "Sort requirements alphabetically"
      - id: trailing-whitespace
        exclude_types:
          - "svg"
        description: "Remove trailing whitespaces"
  # For Sphinx
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 'v1.10.0'
    hooks:
     - id: rst-backticks
  # Run Black on files
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
  # Fast linter to replace flake8
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.247'
    hooks:
     - id: ruff
       fail_fast: true
  # Same tools but for Jupyter notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.6.3
    hooks:
      - id: nbqa-black
        name: nbqa-black
        description: "Run 'black' on a Jupyter Notebook"
        language: python
        require_serial: true
      - id: nbqa-ruff
        name: nbqa-ruff
        description: "Run ruff on a Jupyter notebook"
        fail_fast: true
      - id: nbqa-isort