[package]
name = "MOCPy"
version = "0.9.0"
authors = [
  "Thomas Boch <thomas.boch@astro.unistra.fr>", 
  "Matthieu Baumann <matthieu.baumann@astro.unistra.fr>", 
  "F.-X. Pineau <francois-xavier.pineau@astro.unistra.fr>"
]
edition = "2018"
license = "BSD-3-Clause"
readme = "README.rst"
categories = ["algorithms", "science"]
repository = "https://github.com/cds-astro/mocpy"
description = "MOC parsing and manipulation in Python"
documentation = "https://cds-astro.github.io/mocpy"

[badges]
maintenance = { status = "actively-developed" }

[package.metadata.maturin]
# Python dependencies
requires-dist=[
  "astropy",
  "cdshealpix",
  "matplotlib",  # Used in fill and border
  "networkx",    # Used in get_boundaries
  "lark-parser", # Used in from_str for parsing the string given and create the MOC from it
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "License :: OSI Approved :: BSD License",
  "Topic :: Scientific/Engineering :: Astronomy"
]

[lib]
name = "mocpy"
path = "src/lib.rs"
test = true
doctest = true
bench = true
crate-type = ["cdylib"]

[dependencies]
intervals = { path = "./src/intervals" }
healpix = { package = "cdshealpix", version = "0.5.4" }
# healpix = { package = "cdshealpix", git = 'https://github.com/cds-astro/cds-healpix-rust', branch = 'master' }
num = "0.4"
time = "*"
rayon = "1.5.1"
lazy_static = "1.4.0"

[dependencies.numpy]
version = "0.13.1"

[dependencies.ndarray]
version = "0.14"
default-features = false # do not include the default features, and optionally
                         # cherry-pick individual features
features = ["rayon"]

[dependencies.pyo3]
version = "0.13.2"
features = ["extension-module"]

[dev-dependencies]
rand = "0.8.3"

[profile.release]
opt-level = 3

[profile.dev]
opt-level = 0



